<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Template</title>
</head>
<body style="font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f5f5f5;text-align: center;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff; max-width:600px; margin:auto; border:1px solid #ddd;">
        <div class="container" style="max-width: 600px;margin: auto;background: #ffffff;padding: 20px;">
            <div class="header" style="text-align: center; padding-bottom: 10px;">
                <div class="contents">
                    <h1>
                        <img style="max-width: 150px;height: auto;" src="https://s3-alpha-sig.figma.com/img/c660/9bf7/532994052ce366b15fa089dd880b30ae?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z1TuuY7FA-b8EDg3Mzxc2hOK3hrcTxL9gATw84N2wYMzYL6PsabNrIMr-etUh~43ROXttKbxUXFEIy7tRTVyu0uKpBpqMTr0OlcEt6Hy8WAO3dP8jgFsarCQ2lgUiJ09HUeHL1Dmn1WeD3OoHOVpLe1-1ENNP~vrPb~s6-EE50f67VRe~7k4VuipJO6uaZycUa9E2-vf7EiIPg-2Y3-wdQAq3s856fUtKGZdNygVkrLbUVa6LvJivhsdBrTv6m~IIRMJrueKcmhQYSMta0WhcpyA1~woCZQJpdkhG6ZynKgL1PzQiE6W3fuqh6Q0c0u93KZKEfW5LHNIPoQrBL1YZA__" alt="Logo">
                    </h1>
                </div>
            </div>
            <div class="nav" style="text-align: center; font-size: 20px;">
                <a data-editable="true" href="#" style="text-decoration: none; margin: 0 50px; color: #7f7f7f;">Mechanics</a>
                <a data-editable="true" href="#" style="text-decoration: none; margin: 0 50px; color: #7f7f7f;">Electricians</a>
                <a data-editable="true" href="#" style="text-decoration: none; margin: 0 50px; color: #7f7f7f;">Plumbers</a>
                <hr style="color: #7f7f7f;">
            </div>            
            <h1 data-editable="true" style="color: #7f7f7f; text-align: left;">You Know What ... ?</h1>
            <div style="display: flex;flex-direction: column;justify-content: flex-end;background: #232323;height: 500px;color: white;padding: 20px;text-align: center;margin-top: 20px;border-radius: 10px;" class="section">
                <img data-editable="true" src="" alt="">
                <div class="content" style="margin-top: auto;">
                    <p data-editable="true" style="color: #7f7f7f; font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px;">Go to website</a>
                    <br>
                    <a data-editable="true" style="display: inline-block;background: white;color: black;padding: 10px 20px;text-decoration: none;margin-top: 10px;border-radius: 5px;" href="#" class="button" style="color: #7f7f7f; width: 200px; font-size: 20px;">Add LINE</a>
                </div>
            </div>
    
            <div class="gray-section" style="border-radius: 10px;background: #e0e0e0;padding: 20px;text-align: center;margin-top: 20px;">
                <h2 data-editable="true" style="color: #7f7f7f; text-align: left;">What if ... ?</h2>
                <div class="button-container" style="display: flex;justify-content: space-around;align-items: flex-end;margin-top: 50px;">
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat1</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat2</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat3</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat4</span>
                    </div>
                </div>
            </div>    
    
            <div style="margin-top: 2px;">
                <div class="product" style="background-color: #e0e0e0; text-align: center; padding: 10px;">
                    <h2 data-editable="true" style="color: #7f7f7f; text-align: left;">Product 1</h2>
                    <img data-editable="true" style="width: 400px; height: auto; max-width: 100%;" src="https://s3-alpha-sig.figma.com/img/8b69/3197/19337fdd81ec2057dc07b70b0043b1c1?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fNRS~I7cpPPg6Y8YoXIAn1mqABGn0UQscjQ2IhwROaMSQuQCSnDzufKQefluNnU5XtuefUytE0aEBwGQTpHT8P9K~aLc~mBJDmRnOsoApJK4368-K086iF~xuVadiKSwR~t4mK5UTyJ4xwNs8yQ4VbMZq3bU4Ps~xgr~HtMEavVjNpTzqvPaguLckekis0RrpbHTaA6ogNxQBDh0J3oQMuBzN01Pzv46iEGXBvOBVWxlT2LBbBQvqf7EcnzXK3T8jEZjYKKZgmwF7C2OoeRFG-WkEAwf-Pshwhyz5ewpv-NvIwhqCWF9taDyp4E4FKgiGMFHowPmrAjiYnaqPr2abw__" alt="Product Image">
                    <p data-editable="true">Other colors: 🔴 🔵</p>
                </div>
            </div>
            <div style="justify-content: flex-end;background: #232323;height: 100px;color: white; padding: 20px;text-align: center;margin-top: 2px;border-radius: 10px;">
                <div>
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px;">See more on website</a>
                    <br>
                    <a data-editable="true" href="#" class="button" style="color: #7f7f7f; width: 250px; font-size: 20px;">Buy with LINE</a>
                </div>
            </div>
    
            <div class="gray-section" style="border-radius: 10px;background: #e0e0e0;padding: 20px;text-align: center;margin-top: 20px;">
                <h2 data-editable="true" style="color: #7f7f7f; text-align: left;">What if ... ?</h2>
                <div class="button-container" style="display: flex;justify-content: space-around;align-items: flex-end;margin-top: 50px;">
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat1</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat2</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat3</span>
                    </div>
                    <div class="circle-button" style="display: flex;flex-direction: column;align-items: center;">
                        <div class="circle" style=" width: 40px;height: 40px;background-color: #7f7f7f;border-radius: 50%;"></div>
                        <span data-editable="true" style=" color: #7f7f7f;font-size: 14px;margin-top: 5px;">Mat4</span>
                    </div>
                </div>
            </div>    
    
            <div style="margin-top: 2px;">
                <div class="product" style="background-color: #e0e0e0; text-align: center; padding: 10px;">
                    <h2 data-editable="true" style="color: #7f7f7f; text-align: left;">Product 1</h2>
                    <img data-editable="true" style="width: 400px; height: auto; max-width: 100%;" src="https://s3-alpha-sig.figma.com/img/29e6/4988/28e9ce9d1449958d2eb44ce4369bdb8d?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=HZR-SO7xMKtV7lp0-VYWF1iIv5SNqZiaZ-40H0j3rL0rjyTwHARLPkWs3pXx3oD4mA4iVFg0ErUvELmLSKEHyoR3f2RseryDZmsfgNWzhCRxeXv6uQs59mABhSxRRpBZFUap9a0mLlAJlcXyQI91fMurr0YupURJTSD8Z2wjotCsfqD-8F48f8z6C0IGYdAa-7NSJ9t07udBJMGG72CbVpr65eKTyttuvSbH-njv6UpEIT3bwUguCi-e383DBRapUzRyTWCxrSfF5f6Dq3032GUnvTdvgHmCL9D9HzbR5zgQKq6zTc3sPkPNOfHBKYmKL~8pSeaDuKSQTmsdXpqm6w__" alt="Product Image">
                    <p data-editable="true">Other colors: 🔴 🔵</p>
                </div>
            </div>
            <div style="justify-content: flex-end;background: #232323;height: 100px;color: white; padding: 20px;text-align: center;margin-top: 2px;border-radius: 10px;">
                <div>
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px;">See more on website</a>
                    <br>
                    <a data-editable="true" href="#" class="button" style="color: #7f7f7f; width: 250px; font-size: 20px;">Buy with LINE</a>
                </div>
            </div>
    
            <div class="image-container" style="width: 100%; margin-top: 30px; overflow: hidden;display: flex;justify-content: center; align-items: center;">
                <img data-editable="true" style=" width: 100%;height: 100%;object-fit: cover;" src="https://s3-alpha-sig.figma.com/img/eb31/e0d3/d57c664dc0611a798899c2bb297ec369?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=a~6RDrZHNXb7O1HZ7DxhQK-AWXLRW839WnEewfJFOrLOHpEgTa4sp~7NBzSZRThXissMyMxqJ1lX-S5-ucomNwZAKKC3z9YqA-E-d4CjDNuxEXWxYPNHOHrR9Mmig-QPphRK6CV3RwjtXkNoLB~fSq0AFHyF5hSxGfU-t4HLPY84o4sOACZdNkiYvkEVHiRl9KiYdmQmV08F-xchauLwVZA27Gxhmxdql6beeE4-WJewZ8rjl~8zL8NDpxNpAuCYc9hUAtjYhFMUJI1TRnWmZ-iOZ2tR~g6xT64VPEhonDfE0~doYZEzgShg0Ka~~6vteNqfAr4NLHufnE6lQnJWig__" 
                     alt="Pica Gel">
            </div>
    
            <div class="image-container" style="width: 100%; margin-top: 5px; overflow: hidden;display: flex;justify-content: center; align-items: center;">
                <img data-editable="true" style=" width: 100%;height: 100%;object-fit: cover;" src="https://s3-alpha-sig.figma.com/img/d231/50bb/df873243bb7d24a887a47711ca8ca302?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=OJT5DHthjViZcSaYbR2SIRyQ~rL5v0aCToPeH8sf~Vgh5lLVlznwCtGSHVTOlVJEDJPhL9AOb06gVY8~JNUqJQBaPdkH3Wg7T3QaYDdjnArzAjVPZrg6XjL7utHADor250XK0EMgx381XGAxoQ5OaYHdMMZrzv9n1n34oxeGGbkjlpu-M1xN5B2frzBSQstaBDq9CDcec5Rz1FnGkJYF~maiH3KHVkdLa~G-LlOtU2z4TtrHpUb-P0N1R7rjkSFxs2TeyR29raXCgDgXz6ZC3JWHDZ5QS~54seEZXt2obsYES1GCUuDLCoTQSxIjAiWqz50OlXWHYko9ujPlfIk3kg__" 
                     alt="Pica Gel">
            </div>
    
            <div style="justify-content: flex-end;background: white;height: 100px; padding: 20px;text-align: center;margin-top: 30px;border-radius: 10px;">
                <div>
                    <a data-editable="true" href="#" style="color: black; font-size: 20px;">See more on website</a>
                    <br>
                    <a data-editable="true" href="#" style="color: white; width: 250px; font-size: 20px;display: inline-block;background: black;color: white;padding: 10px 20px;text-decoration: none;margin-top: 10px;border-radius: 5px;">
                        Buy with LINE</a>
                </div>
            </div>
    
            <div class="nav-a" style="text-align: center; margin-top: 70px;">
                <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px;">See more on website</a>
            </div>
    
            <div class="nav" style="margin: 30px; height: 150px;">
                <hr style="color: #7f7f7f;">
                <div style="margin: 20px;">
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px; text-decoration: none; margin: 20px;">Mechanics</a>
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px; text-decoration: none; margin: 20px;">Electricians</a>
                    <a data-editable="true" href="#" style="color: #7f7f7f; font-size: 20px; text-decoration: none; margin: 20px;">Plumbers</a>
                </div>
                <hr style="color: #7f7f7f;">
            </div>
        </div>
    </table>
    <script src="/script/link-script.js"></script>
</body>
</html>